<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsP55bfVAhwEzJ7pLwDWGrQw7ps-JX9qg</string>
	<key>GCM_SENDER_ID</key>
	<string>287035553376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrieldcc.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chata-95364</string>
	<key>STORAGE_BUCKET</key>
	<string>chata-95364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287035553376:ios:94ad0687c65965ccf7f505</string>
</dict>
</plist>